<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TestTask</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
    <body>
    <div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      тестовое задание
    </div>
    <div class="col-md-auto">
      Добавление товара в базу данных
      <p></p>
        <form method="post">
    {% csrf_token %}
     {% for field in form %}
         <div class="form-group">
         {% if field.errors %}
            <div class="alert alert-danger">{{ field.errors }}</div>
         {% endif %} 
             {{ field.label }}
         {{ field }}
         </div>
            {% endfor %}

    <button style="margin-top: 10px" class="btn btn-primary" type="submit">Отправить</button>
    <button style="margin-top: 10px" class="btn btn-primary" type="reset">Очистить</button>
    </form>
    </div>
    <div class="col col-lg-2">
      Пушкарь Никита
    </div>
  </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
